Node-RED/flows.json
[
    {
        "id": "69b859af38301572",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bb82e2f1f0b0b71",
        "type": "ui_switch",
        "z": "69b859af38301572",
        "name": "",
        "label": "LED Switch",
        "tooltip": "",
        "group": "fa8bd4acb37899df",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "l",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "m",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "385348434b882d22",
        "type": "ui_switch",
        "z": "69b859af38301572",
        "name": "",
        "label": "Pump Switch",
        "tooltip": "",
        "group": "fa8bd4acb37899df",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "p",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "q",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "d05a4178de23ece9",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Pump",
        "format": "{{msg.payload[11]}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "19ee46836b7f24e0",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "LED",
        "format": "{{msg.payload[12]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "57f4afdac8e9ddc2",
        "type": "mqtt in",
        "z": "69b859af38301572",
        "name": "",
        "topic": "farmease/actuator",
        "qos": "0",
        "datatype": "utf8",
        "broker": "efeb4b1ded3dcf78",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "2eb790884b7bca5d",
                "e5338f67c79f6b9b"
            ]
        ]
    },
    {
        "id": "2eb790884b7bca5d",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MQTT message",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "3d0a06670e02e43a",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MQTT sensor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "1858667c19230281",
        "type": "mqtt in",
        "z": "69b859af38301572",
        "name": "",
        "topic": "farmease/sensor",
        "qos": "0",
        "datatype": "utf8",
        "broker": "efeb4b1ded3dcf78",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "3d0a06670e02e43a",
                "86ab157d6f38efdb"
            ]
        ]
    },
    {
        "id": "35b73060f90e6996",
        "type": "ui_button",
        "z": "69b859af38301572",
        "name": "",
        "group": "fa8bd4acb37899df",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "sensor reload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "s",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "1dc1b72e344c4fde"
            ]
        ]
    },
    {
        "id": "2400d75a510d671c",
        "type": "ui_button",
        "z": "69b859af38301572",
        "name": "",
        "group": "fa8bd4acb37899df",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "publish",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "t",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "86ab157d6f38efdb",
        "type": "function",
        "z": "69b859af38301572",
        "name": "split sensors",
        "func": "var data = msg.payload.split(',');\nvar rtc = data[0];\nglobal.set(\"rtc\", rtc);\nfor (let i=1; i<11; i++){\n    data[i] = parseFloat(data[i])\n}\nfor (let i=11; i<13; i++){\n    if (data[i] == \"0\") {\n        data[i] = \"OFF\";\n    }\n    else if (data[i] == \"1\") {\n        data[i] = \"ON\";\n    }\n}\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 400,
        "wires": [
            [
                "d05a4178de23ece9",
                "19ee46836b7f24e0",
                "b0009d94a004122d",
                "23235fedf0c8310c",
                "24de97fbb08725c7",
                "9387c841788b92c0",
                "8fcf8a22d5edcd74",
                "1df31c5e8cc3fb08",
                "384f9359f64da14f",
                "f6bb60debb9d68f2",
                "70967d8f45d527bf",
                "a12d83031a18b79b",
                "3f8b351a0beb2fab",
                "a0e71b105397451c",
                "6e50d49861465ae7",
                "da0a0244ccf2069b",
                "9b0992769e6d5d2b",
                "d62a94183c77d6c0",
                "3bd229f248fd70e0",
                "6914fadf22c8b189",
                "70f9865663b99ef7",
                "e89f0c88408fe11e",
                "9f8c40e7414c0cad",
                "a65185279d6760dc",
                "53286d7d8ec00b26",
                "810b778bc4e24966",
                "df5bc9aeb45c9999",
                "bc430024aebd4c72",
                "e26565b9f1f3401a",
                "670e8bb18ac5e831",
                "3086d605c4597294",
                "fbedd6031eb8ce66"
            ]
        ]
    },
    {
        "id": "b0009d94a004122d",
        "type": "function",
        "z": "69b859af38301572",
        "name": "to graph lux",
        "func": "var data = msg.payload[1]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "2aa0a5fd78f9e6a2"
            ]
        ]
    },
    {
        "id": "1dc1b72e344c4fde",
        "type": "trigger",
        "z": "69b859af38301572",
        "name": "",
        "op1": "s",
        "op2": "t",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "23235fedf0c8310c",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Luminance",
        "format": "{{msg.payload[1]}}lx",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "8fcf8a22d5edcd74",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 23,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "soil temp",
        "format": "{{msg.payload[4]}}°C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "9387c841788b92c0",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 21,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "soil pH",
        "format": "{{msg.payload[3]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "24de97fbb08725c7",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 19,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "soil EC",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "384f9359f64da14f",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 28,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "nutri temp",
        "format": "{{msg.payload[7]}}°C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "a65185279d6760dc",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 26,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "nutri pH",
        "format": "{{msg.payload[6]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "1df31c5e8cc3fb08",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 24,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "nutri EC",
        "format": "{{msg.payload[5]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "70967d8f45d527bf",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 33,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "waste temp",
        "format": "{{msg.payload[10]}}°C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "f6bb60debb9d68f2",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 31,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "waste pH",
        "format": "{{msg.payload[9]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "a12d83031a18b79b",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 29,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "waste EC",
        "format": "{{msg.payload[8]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "3f8b351a0beb2fab",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph  s_ec",
        "func": "var data = msg.payload[2]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "c3c2151fc01666b4"
            ]
        ]
    },
    {
        "id": "c3c2151fc01666b4",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 3,
        "width": "6",
        "height": 5,
        "label": "soil EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa0a5fd78f9e6a2",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 1,
        "width": "18",
        "height": "5",
        "label": "luminance",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e71b105397451c",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert s_ph",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[3];\nlet device = \"s_ph\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "6e50d49861465ae7",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert s_tp",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[4];\nlet device = \"s_tp\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "da0a0244ccf2069b",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert n_ec",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[5];\nlet device = \"n_ec\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "9b0992769e6d5d2b",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert n_ph",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[6];\nlet device = \"n_ph\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 900,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "d62a94183c77d6c0",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert n_tp",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[7];\nlet device = \"n_tp\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 940,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "3bd229f248fd70e0",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert w_ec",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[8];\nlet device = \"w_ec\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\" + '\"' + rtc_time + '\"' + ',\"' + device + '\",' + value + \");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 980,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "6914fadf22c8b189",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert w_ph",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[9];\nlet device = \"w_ph\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\" + '\"' + rtc_time + '\"' + ',\"' + device + '\",' + value + \");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1020,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "70f9865663b99ef7",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert w_tp",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[10];\nlet device = \"w_tp\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\" + '\"' + rtc_time + '\"' + ',\"' + device + '\",' + value + \");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1060,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "e5338f67c79f6b9b",
        "type": "function",
        "z": "69b859af38301572",
        "name": "split message",
        "func": "var data = msg.payload.split(',');\nvar rtc = data[0];\nglobal.set(\"rtc\", rtc);\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "6598438e092a689a"
            ]
        ]
    },
    {
        "id": "e89f0c88408fe11e",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert s_ec",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[2];\nlet device = \"s_ec\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "9f8c40e7414c0cad",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert lumi",
        "func": "let rtc_time = msg.payload[0];\nlet value = msg.payload[1];\nlet device = \"lumi\";\nmsg.topic = \"INSERT INTO rec_s (rtc_time, device, value) VALUES (\"+'\"'+rtc_time+'\"'+',\"'+device+'\",'+value+\");\";\nmsg.payload = [\"rtc_time\", \"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 700,
        "wires": [
            [
                "d5c8617bba74d435"
            ]
        ]
    },
    {
        "id": "6598438e092a689a",
        "type": "function",
        "z": "69b859af38301572",
        "name": "insert message",
        "func": "let rtc_time = msg.payload[0];\nlet event = msg.payload[1];\nmsg.topic = \"INSERT INTO rec_a (rtc_time, event) VALUES (\"+\"'\"+rtc_time+\"'\"+\",'\"+event+\"');\";\nmsg.payload = [\"rtc_time\", \"event\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "d0d68cc32edf6806"
            ]
        ]
    },
    {
        "id": "53286d7d8ec00b26",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph s_ph",
        "func": "var data = msg.payload[3]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "6555f5df193cd5e5"
            ]
        ]
    },
    {
        "id": "810b778bc4e24966",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph s_tp",
        "func": "var data = msg.payload[4]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "116a38d3a9928b58"
            ]
        ]
    },
    {
        "id": "116a38d3a9928b58",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 5,
        "width": "6",
        "height": 5,
        "label": "soil temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6555f5df193cd5e5",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 4,
        "width": "6",
        "height": 5,
        "label": "soil pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d0d68cc32edf6806",
        "type": "mysql",
        "z": "69b859af38301572",
        "mydb": "ae86e7f6233203ed",
        "name": "afarm rec_a",
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d5c8617bba74d435",
        "type": "mysql",
        "z": "69b859af38301572",
        "mydb": "ae86e7f6233203ed",
        "name": "afarm rec_s",
        "x": 1350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad8fae7cb80ed59",
        "type": "function",
        "z": "69b859af38301572",
        "name": "show actuator record",
        "func": "msg.topic = \"SELECT rtc_time, event FROM rec_a ORDER BY created DESC LIMIT 0, 10;\";\nmsg.payload = [\"rtc_time\", \"event\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 780,
        "wires": [
            [
                "61f07e718e2e0e65"
            ]
        ]
    },
    {
        "id": "61f07e718e2e0e65",
        "type": "mysql",
        "z": "69b859af38301572",
        "mydb": "ae86e7f6233203ed",
        "name": "afarm",
        "x": 410,
        "y": 780,
        "wires": [
            [
                "0ae0a4b982ba794b",
                "0eecd9490e37b6fa",
                "afab1242fc0245b9",
                "ae497d0761810a59",
                "ce293470efdd8363",
                "cf669f3364003a30",
                "3c5a90cb4b30e30e",
                "e04a66ec5a604437"
            ]
        ]
    },
    {
        "id": "0ae0a4b982ba794b",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 35,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[0].rtc_time}}   {{msg.payload[0].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "4636a6f836ed8bea",
        "type": "function",
        "z": "69b859af38301572",
        "name": "summarize",
        "func": "let rtc_time = global.get(\"rtc\");\nrtc_time = rtc_time.split(\"-\");\nlet rtc_time2 = rtc_time[0] + \"-\" + rtc_time[1] + \"-\" + rtc_time[2] + \"-\" + rtc_time[3];\nmsg.topic = \"SELECT device,AVG(value) as 'value' FROM rec_s WHERE rtc_time LIKE '%\"+ rtc_time2+ \"%' GROUP BY device;\";\nmsg.payload = [\"device\", \"value\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 840,
        "wires": [
            [
                "b4a29ec6f1e60465"
            ]
        ]
    },
    {
        "id": "59d7866d1ea581ab",
        "type": "inject",
        "z": "69b859af38301572",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "2.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "8ad8fae7cb80ed59"
            ]
        ]
    },
    {
        "id": "0eecd9490e37b6fa",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 36,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[1].rtc_time}}   {{msg.payload[1].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "afab1242fc0245b9",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 37,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[2].rtc_time}}   {{msg.payload[2].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 780,
        "wires": []
    },
    {
        "id": "ae497d0761810a59",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 38,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[3].rtc_time}}   {{msg.payload[3].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "ce293470efdd8363",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 39,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[4].rtc_time}}   {{msg.payload[4].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 860,
        "wires": []
    },
    {
        "id": "cf669f3364003a30",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 40,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[5].rtc_time}}   {{msg.payload[5].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "3c5a90cb4b30e30e",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 41,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[6].rtc_time}}   {{msg.payload[6].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 940,
        "wires": []
    },
    {
        "id": "e04a66ec5a604437",
        "type": "ui_text",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "order": 42,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Actuator Record",
        "format": "{{msg.payload[7].rtc_time}}   {{msg.payload[7].event}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 980,
        "wires": []
    },
    {
        "id": "df5bc9aeb45c9999",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph  n_ec",
        "func": "var data = msg.payload[5]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 420,
        "wires": [
            [
                "c0915ba2cbef0bf7"
            ]
        ]
    },
    {
        "id": "c0915ba2cbef0bf7",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 6,
        "width": "6",
        "height": 5,
        "label": "nutri EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "bc430024aebd4c72",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph n_ph",
        "func": "var data = msg.payload[6]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 460,
        "wires": [
            [
                "e54bb18fa9523bfd"
            ]
        ]
    },
    {
        "id": "e26565b9f1f3401a",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph n_tp",
        "func": "var data = msg.payload[7]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 500,
        "wires": [
            [
                "46181eeb23340739"
            ]
        ]
    },
    {
        "id": "46181eeb23340739",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 8,
        "width": "6",
        "height": 5,
        "label": "nutri temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e54bb18fa9523bfd",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 7,
        "width": "6",
        "height": 5,
        "label": "nutri pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "670e8bb18ac5e831",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph  w_ec",
        "func": "var data = msg.payload[8]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "065c44a01f32b78e"
            ]
        ]
    },
    {
        "id": "065c44a01f32b78e",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 9,
        "width": "6",
        "height": 5,
        "label": "waste EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3086d605c4597294",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph w_ph",
        "func": "var data = msg.payload[9]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "e8a6ea2d9f322422"
            ]
        ]
    },
    {
        "id": "fbedd6031eb8ce66",
        "type": "function",
        "z": "69b859af38301572",
        "name": "graph w_tp",
        "func": "var data = msg.payload[10]\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "14ea457c2e884935"
            ]
        ]
    },
    {
        "id": "14ea457c2e884935",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 11,
        "width": "6",
        "height": 5,
        "label": "waste temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e8a6ea2d9f322422",
        "type": "ui_chart",
        "z": "69b859af38301572",
        "name": "",
        "group": "f6e4d6aa9bdd5427",
        "order": 10,
        "width": "6",
        "height": 5,
        "label": "waste pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c41e1e73b00a5f10",
        "type": "serial out",
        "z": "69b859af38301572",
        "name": "",
        "serial": "b4f87359f63af872",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "5c09b59f2c4e82d8",
        "type": "inject",
        "z": "69b859af38301572",
        "name": "1min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "3.5",
        "topic": "",
        "payload": "s",
        "payloadType": "str",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "f4b567e36988672f",
        "type": "inject",
        "z": "69b859af38301572",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5.5",
        "topic": "",
        "payload": "t",
        "payloadType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "6bc5f0c24a32e3e2",
        "type": "inject",
        "z": "69b859af38301572",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "95",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "4636a6f836ed8bea"
            ]
        ]
    },
    {
        "id": "b4a29ec6f1e60465",
        "type": "mysql",
        "z": "69b859af38301572",
        "mydb": "ae86e7f6233203ed",
        "name": "afarm",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "02d92cd23c621e89"
            ]
        ]
    },
    {
        "id": "02d92cd23c621e89",
        "type": "ui_template",
        "z": "69b859af38301572",
        "group": "fa8bd4acb37899df",
        "name": "Hourly Report",
        "order": 44,
        "width": "12",
        "height": "6",
        "format": "<table style=\"width:100%\">\n    <tr>\n        <th>Device</th>\n        <th>Value</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload | limitTo:10\" align=\"right\">\n        <td>{{msg.payload[$index].device}}</td>\n        <td>{{msg.payload[$index].value}}</td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ed38d93c120d8e63",
        "type": "ui_slider",
        "z": "69b859af38301572",
        "name": "",
        "label": "Nutrient Solution (ml/h)",
        "tooltip": "(ml per hour)",
        "group": "fa8bd4acb37899df",
        "order": 14,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": "10",
        "className": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "2f2602d7158e5427"
            ]
        ]
    },
    {
        "id": "2f2602d7158e5427",
        "type": "function",
        "z": "69b859af38301572",
        "name": "add 'd'",
        "func": "msg.payload = 'd'+msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "c41e1e73b00a5f10"
            ]
        ]
    },
    {
        "id": "1f21fb210282adaa",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "e490f2b5b40e5193",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "26dd5fe6ad6e0a95",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "06f4312a801a206d",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "15f62cd1f3df1a7b",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "af1d35dfd359e703",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "d8396eedcf72ce88",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 16,
        "width": 12,
        "height": 1
    },
    {
        "id": "36d9b1db7c370dca",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 18,
        "width": "8",
        "height": "1"
    },
    {
        "id": "136eba77e9c6bbe4",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ddfb6813fc1dc86",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "84d90291f814e2d9",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "b61ebd58761c3b88",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb345c86ce463423",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "50d9afe47bdbd50e",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "e688bb724f5f01a6",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 34,
        "width": "12",
        "height": "1"
    },
    {
        "id": "e5ecf3a68dafa8ce",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 2,
        "width": 18,
        "height": 1
    },
    {
        "id": "0d1f66d09e488e5b",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "8fd4427f6692a2b1",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "ee5067274cf24f4c",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "862f9888d6265e33",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "15c7fd182556b4ab",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "a05a190e5349a9f0",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 17,
        "width": 10,
        "height": 1
    },
    {
        "id": "6f8c2935fb5c5695",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 18,
        "width": 10,
        "height": 1
    },
    {
        "id": "9abc7cbc39aaefa2",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 19,
        "width": 10,
        "height": 1
    },
    {
        "id": "ccdc4f43b7d108e1",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "fa8bd4acb37899df",
        "order": 43,
        "width": "12",
        "height": "1"
    },
    {
        "id": "6194cf3c9d378947",
        "type": "ui_spacer",
        "z": "69b859af38301572",
        "name": "spacer",
        "group": "f6e4d6aa9bdd5427",
        "order": 20,
        "width": 10,
        "height": 1
    },
    {
        "id": "fa8bd4acb37899df",
        "type": "ui_group",
        "name": "Farm Monitor",
        "tab": "0ec10787423e1675",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efeb4b1ded3dcf78",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6e4d6aa9bdd5427",
        "type": "ui_group",
        "name": "Analysis",
        "tab": "d93c8ebf96a727f9",
        "order": 2,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae86e7f6233203ed",
        "type": "MySQLdatabase",
        "name": "afarm",
        "host": "localhost",
        "port": "3306",
        "db": "afarm",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b4f87359f63af872",
        "type": "serial-port",
        "name": "",
        "serialport": "COM15",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "0ec10787423e1675",
        "type": "ui_tab",
        "name": "Farm",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d93c8ebf96a727f9",
        "type": "ui_tab",
        "name": "Analysis",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]